/* frontend/src/components/SearchInput.css */
.search {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #f4f2f2;
  padding: 0.1rem;
  transition: all ease-in-out .3s;
  width: 100%;
  max-width: 500px;
}

.search:focus-within {
  box-shadow: 0 0 1em #00000013;
  background-color: #f0eeee;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  flex-grow: 1;
}

.search__input:focus {
  outline: none;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.7rem;
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}